.message-input-container {
  position: absolute;
  bottom: 0;
  z-index: 30;
  width: 100%;
  // 88% is the height of the messages-container
  --inputHeight: calc(100% - 88% - 47px);
  height: var(--inputHeight);
  display: flex;
  flex-direction: column-reverse;

  .wide-input {
    margin: auto;
    margin-bottom: 14px;
    height: 70%;
    position: relative;
    width: 90%;
    display: flex;
    // border: 1px $border solid;
    // border-radius: 10px;
    input {
      margin-top: 1%;
      width: 70%;
      color: white;
      padding: 5px 29px;
      align-self: flex-start;
      border-bottom: 1px $border solid;
      &:focus {
        background-color: transparent;
        // border: 0;
      }
    }
    .buttons-container {
      width: 30%;
      align-self: flex-end;
      button {
        padding: 10px;
        border: 0;
        border-radius: 15px;
        margin-left: 8%;
        cursor: pointer;
        svg {
          width: 20px;
        }
        &.send {
          background-color: $lightPurple;
          &:hover,
          &:focus {
            background-color: $darkPurple;
          }
          svg {
            fill: $white;
          }
        }
        &.emoji {
          &:hover,
          &:focus {
            background-color: $yellow;
            svg {
              fill: $white;
            }
          }
        }
      }
    }
  }
  .emoji-chooser {
    position: absolute;
    bottom: var(--header-height);
    right: 0;
    .emoji-picker-react {
      box-shadow: unset;
    }
  }
}
